grafana:
  grafana.ini:
    server:
      root_url: https://grafana.thelab.lan
    auth.generic_oauth:
      enabled: true
      name: Authentik
      client_id: grafana
      client_secret: NkvQQRmd0SDXwg3ZeoBOPQkejWoNgjxOsUvVoTUYvn7NQhDMSGlboQpzgUCj32lCHJBseLFS58h1sQx6iVoYyFTgG2IIvGo3Url3m64z5yS1cTwWNi6VC9yflO5YEqZ3
      scopes: openid profile email
      auth_url: https://authentik.thelab.lan/application/o/authorize/
      token_url: https://authentik.thelab.lan/application/o/token/
      api_url: https://authentik.thelab.lan/application/o/userinfo/
      allow_sign_up: true
      auto_login: false
      role_attribute_path: contains(groups, 'Grafana Admins') && 'Admin' || contains(groups, 'Grafana Editors') && 'Editor' || 'Viewer'
      tls_skip_verify_insecure: true
